.footer {
    background-color: var(--light-gray);
    padding-block: var(--footer-padding);
}

.footer__text {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: var(--font-size-xxs);
}