.giftset__buttons {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.giftset__button {
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size-xl);
    font-weight: 900;
    border-left: var(--giftset-button-border);
    color: var(--primary-color);
    background-color: #fff;
    padding-inline: var(--giftset-button-padding);
    flex-grow: 1;
}

.giftset__button-inacitve {
    background-color: var(--light-gray);
    opacity: 0.5;
    transition: (--transition);
}

.giftset__button-inacitve:hover {
    opacity: 1;
}

@media(max-width: 1024px) and (orientation: portrait) {
    .giftset__buttons {
        flex-direction: row;
    }
}