.coffee__section {
    position: relative;
    min-height: 100vh;
}

.coffee__background {
    position: absolute;
    bottom: 0;
    width: 25%;
    background-color: var(--primary-color);
    z-index: -1;
}

.coffee__background-horiz {
    left: 0;
    height: 120vh;
}

.coffee__background-vert {
    right: 0;
    height: 112vh;
}

@media(max-width: 1024px) {
    #coffee-line-horiz {
        margin-bottom: 4rem;
    }

    .coffee__background-horiz {
        height: 115vh;
    }
}

@media(max-width: 450px) {
    .coffee__background-vert {
        width: 55vw;
        height: 112vh;
    }
}

@media(max-width: 576px) {
    .coffee__background-vert {
        height: 80vh;
    }

    .coffee__background-horiz {
        display: none;
    }
}
