.titleArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--title-area-margin) auto;
}

.titleArea__subtitle {
    margin-bottom: var(--subtitle-area-margin);
    font-size: var(--font-size-xs);
    font-weight: 600;
}

#base-info .titleArea {
    margin-block: var(--title-area-margin-base);
}

#coffee-line-vert .titleArea {
    margin-top: 0;
}

@media(max-width: 1024px) {
    #coffee-line-horiz .titleArea {
        margin-bottom: 0;
    }
}

@media(max-width: 576px) {
    #base-info .titleArea {
        margin-bottom: 3rem;
        margin-inline: 1rem;
        text-align: center;
    }

    #coffee-line-vert .titleArea, #coffee-line-horiz .titleArea {
        padding-top: 4rem;
    }

    #coffee-line-horiz .titleArea {
        margin-bottom: 3rem;
    }
}

@media(max-width: 768px) and (orientation: landscape) {
    #coffee-line-vert .titleArea {
        padding-top: 20vh;
    }
}

@media(max-width: 576px) and (orientation: landscape) {
    #coffee-line-horiz .titleArea {
        margin-top: 0;
        padding-top: 10vh;
        margin-bottom: 2rem;
    }
}

@media(max-width: 350px) {
    .titleArea {
        text-align: center;
        white-space: normal;
        max-width: calc(100% - 1rem);
    }
}
