.nav {
    background-color: var(--primary-color);
    padding: var(--nav-padding-block) var(--nav-padding-inline);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--nav-gap);
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: var(--nav-list-gap);
}

.nav__icon {
    width: var(--nav-icon-width);
}

.nav__icon-link {
    max-width: fit-content;
    transition: var(--transition);
}

.nav__icon-link:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--nav-list-gap);
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--light-gray)
}

.nav__link:hover {
    color: var(--accent-color--dark);
}

@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    
    .nav {
        padding: 2rem 1rem;
        gap: 2rem;
    }
}