.menu {
    background-color: var(--primary-color);
}

.nav {
    padding: var(--nav-padding-block) var(--nav-padding-inline);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--nav-gap);
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: var(--nav-list-gap);
}

.nav__icon {
    width: var(--nav-icon-width);
}

.nav__icon-link {
    max-width: fit-content;
    transition: var(--transition);
}

.nav__icon-link:hover {
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.nav__link {
    color: var(--light-gray);
    font-size: var(--font-size-xxs);
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--accent-color--dark);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 3001;
}

.menu-toggle__line {
    background: var(--light-gray);
    width: 100%;
    height: 0.2rem;
    border-radius: 2px;
    transition: var(--transition);
}

.menu-toggle.active .menu-toggle__line:nth-child(1) {
    transform: rotate(45deg) translate(0.3rem, 0.3rem);
}

.menu-toggle.active .menu-toggle__line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .menu-toggle__line:nth-child(3) {
    transform: rotate(-45deg) translate(0.7rem, -0.7rem);
}

.menu__logo {
    display: none;
    height: 1.5rem;
    width: auto;
}

@media(max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 3000;
        left: 0;
        top: 0;
        width: 100%;
        height: 4rem;
        padding: 1rem;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--primary-color);
        padding: 1rem;
        padding-top: 3rem;
        gap: 2rem;
        z-index: 3001;
        border-radius: 1rem;
        transition: right 0.4s ease;
        overflow-y: auto;
    }

    .nav.active {
        right: 0;
    }

    .menu__logo {
        display: inline;
    }
}