.header {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 2fr 0.8fr;
}

.header__title {
    position: relative;
    left: var(--header-title-left);
    height: 100vh;
    max-width: var(--header-title-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--header-title-padding);
}

.header__title-accent {
    position: relative;
    left: var(--title-accent-left);
    background-color: var(--accent-color--dark);
    color: var(--background-color);
    padding: var(--title-accent-padding);
}

.header__icon {
    width: var(--header-icon-width);
}

.header__image {
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
}

@media(max-width: 1024px) and (orientation: portrait) {
    .header {
        grid-template-columns: 0fr 1fr 1fr;
    }

    .header__image {
        height: 60%;
    }

    .header__title {
        position: absolute;
        bottom: 0;
        left: 5.5rem;
        height: auto;
        gap: 4rem;
    }

    .header__icon {
        width: 3rem;
    }
}

@media(max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .header__title {
        position: unset;
        margin-left: 1rem;
    }

    .header__icon {
        display: none;
    }

    .header__image {
        max-height: 60vh;
    }
}

@media(max-width: 768px) and (orientation: landscape) {
    .header {
        justify-content: start;
        max-height: 100vh;
    }

    .header__title {
        padding-top: 5vh;
    }

    .menu__logo {
        max-height: 6vh;
    }
}