html {
    font-family: "Nunito", sans-serif;
    font-size: 1.5vw;
    background-color: var(--background-color);
    color: var(--primary-color);
    scroll-behavior: smooth;
    scrollbar-width: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-3xl);
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: var(--font-size-sm);
    line-height: var(--font-line-sm);
}

h3 {
    font-weight: 900;
    line-height: var(--font-line-sm);
    color: var(--dark-gray);
}

p {
    line-height: var(--font-size-xs);
    font-size: var(--font-size-xxs);
}
