html {
    font-family: "Nunito", sans-serif;
    font-size: 1.5vw;
    background-color: var(--background-color);
    color: var(--primary-color);
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: wrap;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-3xl);
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: var(--font-size-sm);
    line-height: var(--font-line-sm);
}

h3 {
    font-weight: 900;
    line-height: var(--font-line-sm);
    color: var(--dark-gray);
}

p {
    line-height: var(--font-size-xs);
    font-size: var(--font-size-xxs);
}

/* iPad Pro вертикально / планшеты */
@media (max-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 3vw;
    }

    h1 {
        font-size: var(--font-size-xl);
        line-height: var(--font-line-2xl);
    }
}

@media(max-width: 768px) and (orientation: landscape) {
    h1 {
        font-size: 6vh;
        line-height: 10vh;
    }
}

/* Планшеты и большие мобильные */
@media (max-width: 768px) {
    html {
        font-size: 3vw;
    }
}

/* Малые мобильные - ландшафт */
@media (max-width: 576px) and (orientation: landscape) {
    html {
        font-size: 3.3vw;
    }
}

/* Малые мобильные - портрет */
@media (max-width: 576px) and (orientation: portrait) {
    html {
        font-size: 5vw;
    }
}

/* Очень маленькие - защита минимума */
@media (max-width: 350px) {
    html {
        font-size: 17px;
    }
}

