@font-face {
    font-family: "Montserrat";
    src: url('../../../assets/fonts/Montserrat-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('../../../assets/fonts/Nunito-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('../../../assets/fonts/Nunito-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('../../../assets/fonts/Nunito-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url('../../../assets/fonts/Nunito-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}
